body {
	background-size: cover;
	background-color: #000;
	height: 100%;
}

#cover {
	margin-top: 20px;
	background-image: url('../img/cover.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	height: 470px;
}

#titulo h1 {

	font-family: 'EB Garamond';
	font-size: 8em;
	text-align: center;
	color: #FFF;
}

a#lojaoficial {
	text-decoration: none;
	font-family: 'EB Garamond';
	font-size: 2em;
	text-align: center;
	color: #FFF;
}

a#lojaoficial:hover {
	color: #DA772D;
	text-decoration: none;
}

#video {
	padding-top: 18px;
	padding-bottom: 16px;
	background-color: #DA772D;
}